body{
  margin:0;
  font-family:sans-serif;
  background:#020617;
  color:white;
}

/* TOP BAR */
.topbar{
  padding:15px;
  background:#020617;
  display:flex;
  justify-content:space-between;
  border-bottom:1px solid #1f2937;
}

.logo{color:#22c55e;font-weight:bold;}
.wallet{color:#facc15;}

/* PAGES */
.page{display:none;padding-bottom:70px;}
.active{display:block;}

/* CARD */
.card{
  background:#1f2937;
  margin:10px;
  padding:15px;
  border-radius:15px;
}

/* BUTTON */
button{
  padding:10px;
  margin:5px;
  border:none;
  border-radius:10px;
  color:white;
}

.betA{background:#16a34a;}
.betB{background:#dc2626;}

/* INPUT */
input{
  padding:10px;
  margin:5px;
  width:80%;
  border-radius:8px;
  border:none;
}

/* NAV */
.nav{
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  justify-content:space-around;
  background:#020617;
  border-top:1px solid #1f2937;
}

.nav button{
  background:none;
  color:white;
  font-size:18px;
}
